<section class="w-full flex justify-center h-[90vh] font-primary">
  <div class="w-[60%] flex flex-col items-center h-[100%]">
    <h1 class="text-primary_tint text-[40px] font-bold mt-8">
      Track your shipment
    </h1>
    <p class="text-secondary font-normal font-[16px] mt-2 mb-6">
      Enter your tracking ID to see the latest status.
    </p>
    <form (ngSubmit)="onSubmit()" class="w-full h-fit flex justify-center">
      <div class="flex gap-2 w-[80%] mb-6">
        <input
          type="text"
          class="w-[80%] text-white rounded-lg bg-transparent border-[1px] border-border px-2"
          placeholder="e.g #SF012"
          name="ShipmentId"
          [(ngModel)]="ShipmentId"
        />
        <button
          class="w-[20%] p-2 bg-white rounded-lg disabled:opacity-[0.7]"
          [disabled]="!ShipmentId"
          type="submit"
        >
        <mat-spinner diameter="20" *ngIf="isLoading" class=" mx-auto"></mat-spinner>
          <span *ngIf="!isLoading">Track</span>
        </button>
      </div>
    </form>

    <!-- <div class="h-[400px] w-[500px] border-2 border-red-500"></div> -->
  </div>
</section>
