<div class="max-w-[1400px] mx-auto w-[90%] py-4">  
  <div class="mx-auto w-[90%] mt-16 fadeIn pb-8">
    <div class="grid lg:grid-cols-2 grid-cols-1">
        <div>
            <img src="assets/img/chain-break.png" alt="break-icon" class="object-contain w-[420px] mx-auto" fetchpriority=high />
        </div>
        <div class="pt-[140px] w-[450px] mx-auto">
            <div class="mb-6 ps-4">
                <h3 class="text-[48px] font-bold font-primary text-white">Oops!</h3>
                <p class="text-base mt-2 text-secondary font-font_display">
                    Something seems to have gone wrong.
                </p>
            </div>
          
          <a routerLink="/auth/login"><button
              class="w-full bg-white text-[#151515] p-3 rounded-3xl font-normal"
              
            >Take Me Home</button>
            </a>
        </div>
    </div>
  </div>
